body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ffffff;
}

nav ul {
    list-style: none;
    margin-left: 10px;
    padding: 1px;
    text-align: left;
}

nav li {
    display: inline;
    vertical-align: middle;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}


.login {
    margin-left: 700px;
    background-color:blue;
    border-radius: 25px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.login a {
   color: #fff;
}

.ps5 {
    background-color: white;
    text-align: right;
    margin-bottom: -1.28%;
}

.ps5 h1 {
    text-align: left;
    margin-top: -20%;
    padding-bottom: 15%;
    margin-left: 20%;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #003366;
    color: #fff;
}


.logo {
width: 50px;
height: auto;
}